// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-logo{
  background-image: url(image/コート.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1{
  font-size: 30px;
}
.card{
  text-align: center;
}

.card-header, .card-body{
  padding: 3px;
}

.card-body{
  height: 5%;
}

.team-logo{
  text-align: center;
}

.tweet-card{
  height: 100%;
  width: 60%;
  margin-bottom: 60px;
}

.tweet-image{
  height: 30vh;
  width: 30vh;
}

.t{
  display: block;
  justify-content: center;
  align-items: center;
}

.comment{
  text-align: center;
}

.destroy{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

.user-only{
  text-align: center;
  margin-bottom: 30px;
}

.mypage{
  text-align: center;
  display: flex;
}