<%= render 'shared/header'%>
<div class="main">
    <div class="destroy">
        <h3 class="px-5 py-5 mx-5 mx-5 my-5 bg-danger text-white">削除が完了しました。</h3>
        <%= link_to '投稿一覧へ戻る', tweet_path(@tweet.id), class:"p-3 mb-2 bg-secondary text-white" %>
    </div>
</div>

<%= render 'shared/footer'%>