<footer>
  <div class="card">
    <h6 class="card-header text-light bg-dark" style="border-bottom:2px solid white;">MatchApp</h6>
    <div class="text-light bg-dark">
      COPYRIGHT © ZAB Inc. All rights Reserved.
    </div>
  </div>
</footer>