<div class="major_footer">
  <div class="card"  style='background-color: darkorange; border: 1px solid white;'>
    <h6 class="card-header text-light" style="border-bottom:2px solid white;">MatchApp</h6>
    <div class="text-light">
      COPYRIGHT © ZAB Inc. All rights Reserved.
    </div>
  </div>
</div>