<%= render 'shared/header'%>
<div class="main">
    <h1>参加するチャットルームを選択してください</h1>
    <p>画像をクリックするとページが切り替わります</p>
    <div class="d-flex align-content-around flex-wrap">
      <% @teams.each do |team| %>
        <%= link_to tweet_path(team.id) do %>
        <%= image_tag "#{team.image}", class:"img-fluid", size:"200x200" %>
        <% end %>
      <% end %>
    </div>
</div>
<%= render 'shared/footer'%>