<div class="chatPage">
  <header class="header">
  <%= link_to "", matching_index_path, class: "linkToMatching" %>
    <div class="chatPartner">
      <div class="chatPartner_img"><%= image_tag "#{@chat_room_user.img_name}" %></div>
      <div class="chatPartner_name"><%= @chat_room_user.nickname %></div>
    </div>
  </header>
  <div class="container">
<<<<<<< Updated upstream
    <div class="messagesArea messages">
=======
    <div class="messagesArea messages" id="messages">
>>>>>>> Stashed changes
      <%= render @chat_messages %>
    </div>
  </div>
  <form class="messageInputForm">
    <div class='container'>
      <input type="text" data-behavior="room_speaker" class="messageInputForm_input" placeholder="メッセージを入力...">
    </div>
  </form>
<<<<<<< Updated upstream
</div>
=======
</div>
>>>>>>> Stashed changes
