.linkToLogin {
  margin: 15px 0 15px;
  text-align: center;
  & > a {
    color:#fd5068;
  }
}


html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

 body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-image: url(image/back.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:rgba(255,255,255,0.3);background-blend-mode: lighten;
  position: relative;
}

header{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 70px;
}

.main{
  padding-top:50px;
  margin-top:0px;
  width: 100%;
  padding-bottom:10px;
  margin-bottom:50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

footer{
  bottom: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 72px;
  position: fixed;
}