.summary {
  background-image: url(image/top-back.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:rgba(255,255,255,0);background-blend-mode: lighten;
  &_timer{
    padding-top: 38px;
    text-shadow: 1px 1px 1px black;
    font-family: 'Courier New', Courier, monospace;
    color: darkorange;
  }
  &_up {
    height: 56vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    &_title{
      font-family: 'Courier New', Courier, monospace;
      text-shadow: 5px 5px 5px white;
    }
    &_btn{
      display: inline-block;
      text-decoration: none;
      background: darkorange;
      width: 180px;
      height: 180px;
      top: -100px;
      line-height: 45px;
      border-radius: 50%;
      overflow: hidden;
      opacity: 0.9;
      box-shadow: 0px 0px 0px 5px darkorange;
      border: dashed 1px #FFF;
      transition: .4s;
      position: relative;
      &:hover{
        background: orange;
        box-shadow: 0px 0px 0px 5px orange;
      }
      &_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        width: 200px;
        text-align: center;
        color: white;
        font-size: 30px;
      }
    }
  }
  &_down {
    height: 13vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    &_btn{
      display: inline-block;
      text-decoration: none;
      background: darkorange;
      color: #FFF;
      width: 70px;
      height: 70px;
      line-height: 70px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      box-shadow: 0px 0px 0px 5px darkorange;
      border: dashed 1px #FFF;
      transition: .4s;
      position: relative;
      &:hover{
        text-decoration: none;
        color: white;
        background: orange;
        box-shadow: 0px 0px 0px 5px orange;
      }
      &_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        width: 50px;
        text-align: center;
        color: white;
        font-size: 30px;
      }
    }
    &_btn_line{
      background-image: url(image/line.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 110px 110px;
      display: inline-block;
      width: 65px;
      height: 65px;
      line-height: 38px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      box-shadow: 0px 0px 0px 10px #32CD32;
      transition: .4s;
      position: relative;
      &:hover{
        background-color:rgba(255,255,255,0.3);background-blend-mode: lighten;

      }
    }
  }
}