.top{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav{
  margin-right: 0;
  align-items: center;
}
.nav-item{
  margin-right: 5px;
  border-radius: 10%;
}

.registration{
  text-align: center;
}

.session{
  display: flex;
  flex-flow: column;
  text-align: center;
}

.choice{
  display: flex;
  margin-bottom: 20px;;
}